# Import all packages listed as Imports or Depends
useDynLib("BCBCSF")
importFrom(abind, "abind")
importFrom("graphics", "par", "plot")
importFrom("stats", "median", "pf", "quantile", "rgamma", "rnorm",
             "runif", "sd")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")


exportPattern ("bcbcsf")
export ("cross_vld", "eval_pred")
